<h1><%= data.name %></h1>
<p>Created by <%= name %></p>
<p><%= data.address1 %></p>
<p><%= data.address2 %></p>
<p><%= data.city %>, <%= data.state %> <%= data.zip %></p>
<form method="POST">
	<button class="waves-effect waves-light cyan darken-3 btn-large" type="submit" name="action"><i class="material-icons left">add</i>Join this Group</button>
</form>
	


<!-- <a class="waves-effect waves-light cyan darken-3 btn-large"><i class="material-icons left">add</i>Join this Group</a> -->